
* {
	font-family: "Calibri";
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item {
	padding: 20px;
	margin: 10px;
	background-color: #F5F5F5;
	height: 400px;
	min-width: 100px;
	max-width: 600px;
}

.flex-table {
	padding: 20px;
	background-color: #F5F5F5;
	height: 300px;
	min-width: 100px;
	max-width: 600px;
}

body {
	
}

h1, h2 {
	font-family: "Calibri";
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #696969;
	overflow: hidden;
	border: 1px solid white;
	height: 40px;
}

@media screen and (max-width: 600px){
	.nav a{
	float: none;
	width: 100%;
	}
}


li{
	float: left;
}

li a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}

li a:hover{
	background-color: #A9A9A9;
}

.active{
	background-color: #000000;
	color: white;
}

li{
	border-right: 1px solid white;
}
	
table, tr, td {
	background-color: #F5F5F5;
	color: white;
	width: 360px; 
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 20px;
	border: 2px solid black;
}

td {
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}